.header {
  background-color: rgb(50, 167, 145);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.name-lastname {
  display: flex;
  padding: 10px;
  border: 1px solid black;
}

.email-house {
  display: flex;
  border: 1px solid black;
  padding: 5px;
}

.family-input {
  display: grid;
}
